In [188]:
import pandas as pd
import numpy as np

In [208]:
reviews = pd.read_csv(r"C:\Users\aayus\Dev\AI-ML\DataSets\winemag-data-130k-v2.csv" , index_col=0)
reviews.shape

(129971, 13)

In [190]:
reviews.head()
# reviews.description

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [191]:
#  Create a Series descriptor_counts counting how many times each of these two words appears in the description column
#  in the dataset. (For simplicity, let's ignore the capitalized versions of these words.)

n_trop = reviews.description.map(lambda desc : "tropical" in desc).sum()
n_fruit = reviews.description.map(lambda desc : "fruit" in desc).sum()
pd.Series([n_trop, n_fruit], ["tropical", "fruity"])

tropical     3607
fruity      65217
dtype: int64

In [192]:
# We'd like to host these wine reviews on our website, but a rating system ranging 
# from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. 
# A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

# Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada 
# should automatically get 3 stars, regardless of points.
def stars(row):
    if row.country == "Canada":
        return 3
    elif row.points >= 3:
        return 5

reviews.points

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: int64

In [193]:
# Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`

pd.DataFrame(reviews.loc[reviews.country == 'Italy'])

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129929,Italy,"This luminous sparkler has a sweet, fruit-forw...",NaN,91,38.0,Veneto,Prosecco Superiore di Cartizze,NaN,NaN,NaN,Col Vetoraz Spumanti NV Prosecco Superiore di...,Prosecco,Col Vetoraz Spumanti
129943,Italy,"A blend of Nero d'Avola and Syrah, this convey...",Adènzia,90,29.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 Adènzia R...,Red Blend,Baglio del Cristo di Campobello
129947,Italy,"A blend of 65% Cabernet Sauvignon, 30% Merlot ...",Symposio,90,20.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend,Feudo Principi di Butera
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [194]:
reviews.groupby('points').count()
# groups the table wrt points
reviews.groupby('points').points.count()
# this gives the specified column

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [195]:
# here's one way of selecting the name of the first wine reviewed from each winery in the dataset
reviews.groupby('winery').count()
# reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
#df groupby('winery')ke column mein iterate hua aur uske 1st rows ko select

# grouping by more than one columns, province and country ko group kar diya -  is country ke iss province ke information dega
reviews.groupby(['country', 'province']).count()

# reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                            description  designation  points  price  region_1  \
country   province
Argentina Mendoza Province         3264         2500    3264   3226      3211
          Other                     536          402     536    530       536
Armenia   Armenia                     2            2       2      2         0
Australia Australia Other           245          144     245    236       245
          New South Wales            85           50      85     85        85
...                                 ...          ...     ...    ...       ...
Uruguay   Juanico                    12            8      12     12         0
          Montevideo                 11            8      11     11         0
          Progreso                   11           11      11     11         0
          San Jose                    3            3       3      3         0
          Uruguay                    24           23      24     24         0

                            region_2  taster_name  taster_twitter_handle  \
country   province
Argentina Mendoza Province         0         3261                   3261
          Other                    0          536                    536
Armenia   Armenia                  0            2                      2
Australia Australia Other          0          196                    196
          New South Wales          0           76                     76
...                              ...          ...                    ...
Uruguay   Juanico                  0           12                     12
          Montevideo               0           11                     11
          Progreso                 0           11                     11
          San Jose                 0            3                      3
          Uruguay                  0           24                     24

                            title  variety  winery
country   province
Argentina Mendoza Province   3264     3264    3264
          Other               536      536     536
Armenia   Armenia               2        2       2
Australia Australia Other     245      245     245
          New South Wales      85       85      85
...                           ...      ...     ...
Uruguay   Juanico              12       12      12
          Montevideo           11       11      11
          Progreso             11       11      11
          San Jose              3        3       3
          Uruguay              24       24      24

[425 rows x 11 columns]

In [196]:
reviews.groupby(['country']).price.agg([len, min, max])

# reviews.groupby('country').count()

# reviews.price.agg([len, min, max])

C:\Users\aayus\AppData\Local\Temp\ipykernel_12296\2425004896.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['country']).price.agg([len, min, max])
C:\Users\aayus\AppData\Local\Temp\ipykernel_12296\2425004896.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Argentina                3800   4.0   230.0
Armenia                     2  14.0    15.0
Australia                2329   5.0   850.0
Austria                  3345   7.0  1100.0
Bosnia and Herzegovina      2  12.0    13.0
Brazil                     52  10.0    60.0
Bulgaria                  141   8.0   100.0
Canada                    257  12.0   120.0
Chile                    4472   5.0   400.0
China                       1  18.0    18.0
Croatia                    73  12.0    65.0
Cyprus                     11  11.0    21.0
Czech Republic             12  15.0    45.0
Egypt                       1   NaN     NaN
England                    74  25.0    95.0
France                  22093   5.0  3300.0
Georgia                    86   9.0    40.0
Germany                  2165   5.0   775.0
Greece                    466   8.0    79.0
Hungary                   146  10.0   764.0
India                       9  10.0    20.0
Israel                    505   8.0   150.0
Italy                   19540   5.0   900.0
Lebanon                    35  13.0    75.0
Luxembourg                  6  16.0    30.0
Macedonia                  12  15.0    20.0
Mexico                     70   8.0   108.0
Moldova                    59   8.0    42.0
Morocco                    28  14.0    40.0
New Zealand              1419   7.0   130.0
Peru                       16  10.0    68.0
Portugal                 5691   5.0  1000.0
Romania                   120   4.0   320.0
Serbia                     12  15.0    42.0
Slovakia                    1  16.0    16.0
Slovenia                   87   7.0    90.0
South Africa             1401   5.0   330.0
Spain                    6645   4.0   770.0
Switzerland                 7  21.0   160.0
Turkey                     90  14.0   120.0
US                      54504   4.0  2013.0
Ukraine                    14   6.0    13.0
Uruguay                   109  10.0   130.0

In [197]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
# this gives the number(len) of descrioptions for (country, province)
countries_reviewed
reviews.groupby(['country', 'province']).price.agg([len, min])

C:\Users\aayus\AppData\Local\Temp\ipykernel_12296\691873408.py:4: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['country', 'province']).price.agg([len, min])

                             len   min
country   province
Argentina Mendoza Province  3264   4.0
          Other              536   7.0
Armenia   Armenia              2  14.0
Australia Australia Other    245   5.0
          New South Wales     85   8.0
...                          ...   ...
Uruguay   Juanico             12  10.0
          Montevideo          11  17.0
          Progreso            11  12.0
          San Jose             3  20.0
          Uruguay             24  12.0

[425 rows x 2 columns]

In [198]:
countries_reviewed.reset_index

<bound method DataFrame.reset_index of                              len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]>

In [199]:
reviews.groupby('taster_twitter_handle').size()
reviews.groupby('taster_twitter_handle').description.agg(len)
# gives the total reviews given by a user

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: description, dtype: int64

In [200]:
reviews.groupby(['price']).points.agg(max)
# gives the best pointed value for a wine at a particular price 

price_extremes = reviews.groupby(['variety']).price.agg([min,max])
# min and max prices of each variety

C:\Users\aayus\AppData\Local\Temp\ipykernel_12296\3860636025.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['price']).points.agg(max)
C:\Users\aayus\AppData\Local\Temp\ipykernel_12296\3860636025.py:4: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  price_extremes = reviews.groupby(['variety']).price.agg([min,max])
C:\Users\aayus\AppData\Local\Temp\ipykernel_12296\3860636025.py:4: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  price_extremes = reviews.groupby(['variety']).price.agg([min,max])

In [201]:
price_extremes.sort_values(by = ['min', 'max'], ascending=False)
# varieties are sorted in descending order based on minimum price,
#  then on maximum price (to break ties).

reviews.groupby('taster_name').points.mean()
# Series whose index is reviewers and whose values 
# is the average review score given out by that reviewer.

reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
# gives from which (country, variety) bought 
# and results in descending orde

country    variety
US         Pinot Noir                  9885
           Cabernet Sauvignon          7315
           Chardonnay                  6801
France     Bordeaux-style Red Blend    4725
Italy      Red Blend                   3624
                                       ...
Argentina  Cabernet-Malbec                1
US         Tinta Madeira                  1
Italy      Centesimino                    1
           Catalanesca                    1
           Carmenère                      1
Length: 1612, dtype: int64

In [202]:
reviews.dtypes
# DataTypes of each columns

reviews.points.dtypes
# DataType of one column

dtype('int64')

In [203]:
reviews[pd.isnull(reviews)]
# gives the rows where atleast one column has NaN

reviews[pd.isnull(reviews.price)]
# returns rows where the value of price is NaN

reviews.region_2.fillna("Unknown")
# replaces the NaN values by "Unknown"

reviews.variety.replace("White Blend", "hi")
# replaces the 1st values with 2nd values in the specified 
# column. The values in the dataframe will not get changed. 
# It will get changed if we use 'inplace=True'

0                     hi
1         Portuguese Red
2             Pinot Gris
3               Riesling
4             Pinot Noir
               ...
129966          Riesling
129967        Pinot Noir
129968    Gewürztraminer
129969        Pinot Gris
129970    Gewürztraminer
Name: variety, Length: 129971, dtype: object

In [205]:
reviews.price.isnull().sum()
# gives the sum of rows where price is NaN

reviews.region_1.fillna("Unknown").value_counts().sort_values(ascending=False)

region_1
Unknown                               21247
Napa Valley                            4480
Columbia Valley (WA)                   4124
Russian River Valley                   3091
California                             2629
                                      ...
Sonoma-Santa Barbara-Mendocino            1
Sonoma County-Santa Barbara County        1
Del Veneto                                1
Bardolino Superiore                       1
Paestum                                   1
Name: count, Length: 1230, dtype: int64

In [206]:
reviews.rename(columns={'region_1' : 'region', 'region_2' : 'locale'})
# renamed specified columns to given columns

reindexed = reviews.rename_axis('wines', axis='rows')
# renames the rows to wines