In [5]:
import pandas as pd

In [ ]:
fruit = pd.DataFrame({'Apple' : [30] , 'Banana' : [21]})
print(fruit)

   Apple  Banana
0     30      21

In [6]:
doc = pd.read_csv("C:/Users/aayus/Dev/AI-ML/products-100.csv", index_col=0)
# doc = pd.DataFrame(doc)
doc.head()

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
Index,,,,,,,,,,,,
1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2091465262179,ForestGreen,Large,pre_order,56
2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5286196620740,Black,8x10 in,in_stock,29
3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1282898648918,SlateGray,XS,in_stock,70
4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3879177514583,PaleGreen,L,discontinued,31
5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9055773261265,SeaShell,100x200 mm,discontinued,10

In [ ]:
## Index based paradigms

doc.iloc[0]
# gives the 0th row
doc.iloc[:,0]
# gave 0th col not index col.
doc.iloc[:3,0]
# gives entry till 3rd row and for 0th col

Index
1    Situation organization these memory much off.
2      Discussion loss politics free one thousand.
3                                No situation per.
Name: Description, dtype: object

In [37]:
## Label-based Paradigm

# here we use loc which include [index, 'label_of_col]
doc.loc[:, "Name"]
# which is equal to below code
doc.iloc[0]

Name                     Compact Printer Air Advanced Digital
Description     Situation organization these memory much off.
Brand                                 Garner, Boyle and Flynn
Category                                   Books & Stationery
Price                                                     265
Currency                                                  USD
Stock                                                     774
EAN                                             2091465262179
Color                                             ForestGreen
Size                                                    Large
Availability                                        pre_order
Internal ID                                                56
Name: 1, dtype: object

In [34]:
## Conditional Selectional

# want to check whether the color is black or not for the given row
doc.Color=='Black'

# selecting those col where color is black
doc.loc[doc.Color == 'Black']

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
Index,,,,,,,,,,,,
2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5286196620740,Black,8x10 in,in_stock,29
93,Fridge Cooker,Try better loss pretty special.,Jackson Group,Furniture,393,USD,499,1861389468671,Black,Small,in_stock,80